window {
    margin: 0px;
    /* all:unset; */
    background: #8798B2;
    /* background-color: #c93b58; */
    /* background-color: rgba(0.4, 0.4, 0.4, 0.9); */
    border: 1px solid white;
}

#input {
    /* padding: 4px; */
    border: 1px solid #6F7E93;
    border-radius: 4px;
    box-shadow: none;
    background-color: #3A3C57;
    /* padding-left: 20px; */
    color: #eeeeee;
    font-weight: bold;
   	outline: none;
    margin: 10px 10px 0px 10px;
}
#input:focus, #input:focus-visible, #input:active, #input:target {
    border: 10px solid rgb(255, 255, 255);
    box-shadow: none;
    /* padding: 4px; */
    padding-left: 20px;
    font-weight: bold;
    margin: 10px 10px 0px 10px;

}


#inner-box {
    /* margin: 4px; */
    /* border: 10px solid rgb(87, 31, 45); */
    color: #566585;
    font-weight: bold;
    /* background-color: rgb(87, 31, 45);  */
    /* border-radius: 15px; */
}

#outer-box {
    padding: 4px;
    margin: 0px;
    border: 2px solid #9FC1DF;
    /* border-radius: 15px; */
    /* background-color: rgb(87, 31, 45); */
}

#scroll {
    margin-top: 5px;
    border: none;
    /* border-radius: 15px; */
    /* margin-bottom: 5px; */
    /* background: rgb(255,255,255); */
}

#img:selected {
    margin: 0 7px 0 0;
    transition: all 0.1s;
    /* background-color: #a42f54; */
    /* border-radius: 0px; */
}

#text:selected {
    color: #cdd6f4;
    margin: 0px 10px 0px 0px; 
    border: none;
    /* border-radius: 15px; */
    /* background-color: #a42f54; */
}

#entry {
    margin: 0px 0px;
    border: none;
    /* border-radius: 15px; */
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    /* transition: border 0.4s; */
    /* border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke; */
    
    /* border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke; */
    /* border-radius: 15px; */
    border: 2px solid whitesmoke; */
    background-color: #2f2f2f;
}
#entry:focus {
    border: 2px solid whitesmoke; */
    outline: none;
    box-shadow: none;
}
